html, body, div, h1, h2, h3, h4, h5, h6, p, a, ul, li, dl, dt, dd {
  display: block;
  margin: 0;
  padding: 0;
}

html, body {
  min-height: 100%;
}

ul {
  list-style: none;
}

html, body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 3rem;
  background: #08b4d2;
  -webkit-box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.3);
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.3);
}

header nav {
  background: #a2f148;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  border-radius: 1rem;
  -webkit-box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.3);
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.3);
}

#main {
  background: #fc973d;
  display: flex;
  flex-grow: 10;
  flex-wrap: wrap;
  -webkit-box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.3);
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.3);
}

#main #content {
  flex: 10 0 20rem;
  margin: 0 2rem;
  padding: 3rem 1rem;
}

#main #content article {
  background: #68fe98;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
  -webkit-box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.3);
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.3);
}

#main #content article * {
  margin-bottom: 1rem;
}

#main #content article *:last-child {
  margin-bottom: 0;
}

#main aside {
  background: #d4e556;
  flex: 1 0 10rem;
  padding: 1rem;
  text-align: center;
  -webkit-box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.3);
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.3);
}

footer {
  background: #df4f57;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 1rem;
  -webkit-box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.3);
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.3);
}
